.detector-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.form-full {
  width: 100%;
}

.form-partial {
  width: 100%;
}

.results {
  width: 50%;
  align-self: center;
}
