.splitted {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.splitted-left {
  width: 40%;
  left: 0;
}

.splitted-right {
  width: 60%;
  right: 0;
}
